html {
	height: 100%;
}
body {
	background-image: linear-gradient(260deg, #2376ae 0%, #c16ecf 100%);
}

h1 {
	font-size: 45px;
	font-weight: bold;
	margin: 50px auto 80px;
	width: 60%;
}

label, input, button {
	font-size: 30px;
	margin: 5px auto 40px;
	width: 95%;
	letter-spacing: 3px;
}

.showHumidity, .showTemperatureKelvin, .showTemperatureCelsius, .showTemperatureFahrenheit  {
	font-size: 30px;
	width: 100%;
}

button {
	letter-spacing: 8px;
}
